aiohttp==3.12.15
SQLAlchemy==2.0.43
asyncpg==0.30.0
asyncmy==0.2.10
tomli==2.2.1
tomli_w==1.2.0
geoip2==5.1.0
PyYAML==6.0.2
quart==0.20.0
hypercorn==0.17.3
starlette==0.47.3
uvicorn==0.35.0
greenlet==3.2.4
setuptools==80.9.0
wheel==0.46.1
python-multipart==0.0.20
